<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dotnetUIFrameworkDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <dotnetUIFrameworkDownloader.Properties.Settings>
            <setting name="InstallerDomain" serializeAs="String">
                <value>https://github.com/omerhuseyingul/dotnet-ui-components/raw/main/</value>
            </setting>
        </dotnetUIFrameworkDownloader.Properties.Settings>
    </userSettings>
</configuration>